In [1]:
import pandas as pd
import numpy  as np

In [2]:
#Population is in millions

population = pd.Series([45.234,34.654,77.422,98.632,863.7432,444.522,995.322])

In [3]:
population

0     45.2340
1     34.6540
2     77.4220
3     98.6320
4    863.7432
5    444.5220
6    995.3220
dtype: float64

# Naming your series

In [4]:
population.name = "7 Countries population in millions"

In [5]:
population

0     45.2340
1     34.6540
2     77.4220
3     98.6320
4    863.7432
5    444.5220
6    995.3220
Name: 7 Countries population in millions, dtype: float64

## Series are  similar to numpy arrays:

In [6]:
population.dtype

dtype('float64')

In [7]:
population.values

array([ 45.234 ,  34.654 ,  77.422 ,  98.632 , 863.7432, 444.522 ,
       995.322 ])

## A Series has an index, that's similar to the automatic index assigned to Python's lists:

In [8]:
population

0     45.2340
1     34.6540
2     77.4220
3     98.6320
4    863.7432
5    444.5220
6    995.3220
Name: 7 Countries population in millions, dtype: float64

In [9]:
population[0]

45.234

In [10]:
population[5]

444.522

# Note

In [11]:
population[7]

KeyError: 7

In [13]:
population.index

RangeIndex(start=0, stop=7, step=1)

## In contrast to lists, we can explicitly define the index:

In [14]:
population.index = [
    'Kenya',
    'Uganda',
    'Ethiopia',
    'South Africa',
    'Congo',
    'Tanzania',
    'Algeria'
]

In [15]:
population

Kenya            45.2340
Uganda           34.6540
Ethiopia         77.4220
South Africa     98.6320
Congo           863.7432
Tanzania        444.5220
Algeria         995.3220
Name: 7 Countries population in millions, dtype: float64

### We can say that Series look like "ordered dictionaries". We can actually create Series out of dictionaries:

In [19]:
pd.Series({
    'Canada': 212.323,
    'France':773.313,
    'Germany': 34.422,
    'Italy': 998.767,
    'Japan': 789.422,
    'United Kingdom': 788.777,
    'United States': 998.422
}, name = 'Population of developed countries in millions')

Canada            212.323
France            773.313
Germany            34.422
Italy             998.767
Japan             789.422
United Kingdom    788.777
United States     998.422
Name: Population of developed countries in millions, dtype: float64

In [20]:
population['Kenya']

45.234

## Numeric positions can also be used, with the iloc attribute:

In [21]:
population.iloc[3]

98.632

### Selecting multiple elements at once:

In [23]:
population[['Kenya','Uganda']]

Kenya     45.234
Uganda    34.654
Name: 7 Countries population in millions, dtype: float64

In [26]:
## The result is another series.

population.iloc[[1,5]]

Uganda       34.654
Tanzania    444.522
Name: 7 Countries population in millions, dtype: float64

### boolean arrays

In [27]:
population > 80

Kenya           False
Uganda          False
Ethiopia        False
South Africa     True
Congo            True
Tanzania         True
Algeria          True
Name: 7 Countries population in millions, dtype: bool

In [28]:
population[population >  70]

Ethiopia         77.4220
South Africa     98.6320
Congo           863.7432
Tanzania        444.5220
Algeria         995.3220
Name: 7 Countries population in millions, dtype: float64

In [29]:
population.mean()

365.64702857142856

In [30]:
population.std()

411.78538365926215

In [31]:
population * 1000000

Kenya            45234000.0
Uganda           34654000.0
Ethiopia         77422000.0
South Africa     98632000.0
Congo           863743200.0
Tanzania        444522000.0
Algeria         995322000.0
Name: 7 Countries population in millions, dtype: float64

In [32]:
np.log(population)

Kenya           3.811849
Uganda          3.545413
Ethiopia        4.349271
South Africa    4.591396
Congo           6.761276
Tanzania        6.097000
Algeria         6.903066
Name: 7 Countries population in millions, dtype: float64

## Modifying series

In [34]:
population['Congo'] = 40.5

In [35]:
population

Kenya            45.234
Uganda           34.654
Ethiopia         77.422
South Africa     98.632
Congo            40.500
Tanzania        444.522
Algeria         995.322
Name: 7 Countries population in millions, dtype: float64